.catalog {
  @include adaptiveValue("margin-bottom", 120, 40);
 // .catalog__container
   &__container {
   }
 // .catalog__body
   &__body {
    display: grid;
    grid-template-columns: toRem(375) 1fr;
    gap: toRem(30);
   }
 // .catalog__filter
   &__filter {
   }
 // .catalog__content
   &__content {
   }
 // .catalog__control 
    &__control {
     display: flex;
     justify-content: flex-end;
      &:not(:last-child) {
        margin-bottom: toRem(20);
      }
    } 
 // .catalog__products 
  &__products {
    display: grid;
    gap: toRem(30);
    grid-template-columns: repeat(auto-fill, minmax(toRem(290), toRem(375)));
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 30);
    }
  }
 // .catalog__footer
  &__footer {
    display: flex;
    justify-content: space-between;
    gap: toRem(20);
  }
}
