.products-slider {
 // .products-slider__container    
    &__container {
    }    
 // .products-slider__header    
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 50, 30);
      }
    }    
 // .products-slider__title    
    &__title {
      letter-spacing: toEm(0.5);
      font-size: toRem(30);
      font-weight: 700;
      line-height: math.div(46, 30);
    }    
 // .products-slider__more    
    &__more {
      color: rgba(20, 20, 20, 0.58);
      transition: color 0.3s ease 0s;
      font-weight: 600;
      font-size: toRem(18);
      display: inline-flex;
      align-items: center;
      gap: toEm(15, 18);
      &::after{
         @extend %ic;
         content: "\e900";
         font-size: toEm(7, 18);
         transform: rotate(-90deg);
         color: $mainOrange;
      }
      @media (any-hover: hover){
         &:hover{
            color: rgba(20, 20, 20, 1);
         }
      }
   }    
 // .products-slider__slider    
   &__slider {
      padding: toRem(15) toRem(20);
      margin: 0px toRem(-20);
   }    
 // .products-slider__wrapper    
   &__wrapper {
      &:not(:last-child) {
         margin-bottom: toRem(50);
      }
   }    
 // .products-slider__slide    
    &__slide {
   }
 // .products-slider__dotts
   &__dotts {
   display: grid;
   grid-auto-flow: column;
  
   transform: translate(0px, 10%);
   justify-content: center;
   margin: 0px auto;
   overflow: hidden;
   .swiper-pagination-bullet {
      margin: 0px toRem(7.5);
	 cursor: pointer;
	  height: toRem(30);
	  width: toRem(18);
	  position: relative;
	  transition: all 0.3s ease 0s;
	    &::after{
		  content:'';
		  height: toRem(2);
		  position: absolute;
		  width: 100%;
		  top: 50%;
		  transform: translate(0px, -50%);
	      background-color: #898989;
	    }
		&::before{
			content:'';
			background-color: $mainOrange;
			width: toRem(10);
			height: toRem(10);
			top: 50%;
			left: 0;
			border-radius: 50%;
			transform: translate(0px, -50%);
			position: absolute;
			opacity: 0;
		}
    }
	.swiper-pagination-bullet-active {
		
		&::after{
			background-color: $mainOrange;
		}
		&::before{
			content:'';
			opacity: 1;
			transition: left 3s linear 0s;
			left: toRem(8);
		}
	}
 } 
}
.product-card {
   display: grid;
   height: 100%;
   grid-template-rows: auto 1fr;
   box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
   transition: box-shadow 0.3s ease 0s;
   @media (any-hover: hover){
      &:hover{
         box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
      }
   }
 // .product-card__image
   &__image { 
     @include adaptiveValue("padding-top", 25, 15);
     @include adaptiveValue("padding-bottom", 25, 15);
     @include adaptiveValue("padding-left", 50, 15);
     @include adaptiveValue("padding-right", 50, 15);
   } 
 // .product-card__item-image-ibg
   &__item-image-ibg {
      display: block;
   }
 // .product-card__body 
    &__body {
      padding: toRem(20);
      display: flex;
      flex-direction: column;
    } 
 // .product-card__title 
   &__title {
      flex: 1 1 auto;
		font-weight: 600;
		font-size: toRem(20);
      line-height: math.div(34, 20);
      &:not(:last-child) {
			margin-bottom: toEm(10, 20);
		}
     
   } 
 // .product-card__link-title 
   &__link-title {
      @media (any-hover: hover) {
        &:hover {
           text-decoration: underline;
        }
     }
   } 
 // .product-card__info 
   &__info {
      &:not(:last-child) {
         margin-bottom: toEm(15, 16);
      }
   } 
 // .product-card__rating 
   &__rating {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:not(:last-child) {
			margin-bottom: toRem(26);
		}
   } 
 // .product-card__footer 
   &__footer {
      border-top: 1px solid rgba(20, 20, 20, 0.5);
      padding: toRem(20) 0px;
      display: flex;
      align-items: center;
      gap: toRem(15);
   } 
 // .product-card__price 
   &__price {
      flex: 1 1 auto;
      font-weight: 600;
		font-size: toRem(20);
		line-height: math.div(34, 20);
   } 
   &__compare,
   &__favorite {
      font-size: toRem(24);
      transition: color 0.3s ease 0s;
      @media (any-hover: hover){
         &:hover{
            color: $mainOrange;
         }
      }
   } 
 // .product-card__cart 
   &__cart {
      width: 100%;
		span {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			justify-content: center;
			&::before {
				margin: 0px 0px 0px toRem(16);
			}
		}
   }
}
.info-product-card {
   color: #ababab;
   display: flex;
   justify-content: space-between;
   gap: toRem(10);
   font-size: toRem(16);
 // .info-product-card__size
    &__size {
    }
 // .info-product-card__materials
    &__materials {
    }
}
