//====================================================================================================
.footer {
   background-color: $mainDarkColor;
 // .footer_text 
 &_text {
 } 
 // .footer__container 
 &__container {
 } 
 // .footer__body 
 &__body {
 }
}
.text-footer {
    @include adaptiveValue("padding-top", 60, 40);
    @include adaptiveValue("padding-bottom", 60, 40);
    background: url('@img/footer/bg.jpg') top / cover no-repeat;
 // .text-footer__container 
 &__container {
 } 
 // .text-footer__title 
 &__title {
    text-align: center;
    font-weight: bold;
    color: $mainOrange;
    @include adaptiveValue("font-size", 30, 24);
    line-height: math.div(46, 30);
    &:not(:last-child) {
        margin-bottom: toEm(30, 30);
    }
 } 
 // .text-footer__text 
 &__text {
    color: #fff;
    @include adaptiveValue("font-size", 18, 16);
    line-height: math.div(27, 18);
 }
}

.body-footer {
   @include adaptiveValue("padding-top", 100, 40);
   @include adaptiveValue("padding-bottom", 50, 40);
 // .body-footer__row 
   &__row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(toRem(290), 1fr));
      gap: toRem(40);
      &:not(:last-child) {
			padding: 0px 0px toRem(30) 0px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		}
   } 
 // .body-footer__item 
   &__item {
   }
}
.item-footer {
 // .item-footer__spollers 
   &__spollers {
   }
}
.spollers-item-footer {
 // .spollers-item-footer__item 
   &__item {
   } 
 // .spollers-item-footer__title
   &__title {
      text-transform: uppercase;
      color: #fff;
      font-weight: 600;
      line-height: math.div(22, 18);
    }
 // .spollers-item-footer__body 
  &__body {
    padding-top: toEm(30, 18);
  }
}
.spollers {
 // .spollers__title 
   &__title {
   }
}
.menu-footer {
 // .menu-footer__list 
  &__list {
  } 
 // .menu-footer__item 
   &__item {
      &:not(:last-child) {
        margin-bottom: toEm(20, 18);
      }
    } 
 // .menu-footer__link 
   &__link {
    line-height: math.div(27, 18);
    color: rgba(255, 255, 255, 0.8);
   }
}
//====================================================================================================
