//====================================================================================================
.header {
    // .header__top
    &__top {
        background-color: $mainDarkColor;
        color: #fff;
    }
}
.top-header {
    padding: 10px 0;
    // .top-header__container
    &__container {
        display: flex;
        align-items: center;
        gap: 20px;
        min-height: 50px;
    }
    // .top-header__menu
    &__menu {
        flex: 1 1 auto;
    }
    // .top-header__user
    &__user {
        display: inline-flex;
        align-items: center;
        font-weight: 600;
        line-height: math.div(22 , 18);
        &::before {
            font-size: toRem(28);;
            margin-right: toEm(15, 28);
        }
    }
}
.menu {
    // .menu__body
    &__body {
    }
    // .menu__list
    &__list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 5px;
        @include adaptiveValue("column-gap", 60, 20);
    }
    // .menu__item
    &__item {
    }
    // .menu__link
    &__link {
        font-size: toRem(16);
        line-height: math.div(20 , 16);
    }
}
//====================================================================================================
.body-header {
    padding: toRem(10) 0;
    background-color: #ECF1F2;
    // .body-header__container
    &__container {
        display: flex;
        min-height: toRem(70);
        align-items: center
    }
    // .body-header__logo
    &__logo {
        @extend %ic;
        @extend ._icon-logo;
        font-size: toRem(42);
        color: $mainDarkColor;
    }
    // .body-header__search
    &__search {
        flex: 1 1 auto;
        padding-right: toRem(20);
        @include adaptiveValue("padding-left", 158, 20);
    }
    // .body-header__actions
    &__actions {
    }
}
.search-header {
    max-width: toRem(377);
    background-color: rgba(7, 7, 7, 0.03);
    border-radius: 3px;
    position: relative;
    border: 1px solid rgba(4, 4, 4, 0.5);
    // .search-header
    &__button {
        position: absolute;
        background-color: transparent;
        height: toRem(41);
        width: toRem(41);
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: toRem(8);
        font-size: toRem(14);
        color: rgba(0, 0, 0, 0.5);
    }
    // .search-header__input
    &__input {
        width: 100%;
        background-color:transparent;
        border-radius: toRem(3);
        height: toRem(41);
        padding: 0px toRem(20) 0px toRem(50);
        color: $mainColor;
        &::placeholder {
            color: rgba(0, 0, 0, 0.5);
        }
    }
}

//====================================================================================================
.actions-header { 
    display: flex;
    align-items: center;
    column-gap: toRem(30);
    // .actions-header__location
    &__location {
        display: inline-flex;
        align-items: center;
        font-weight: 600;
        margin: 0px toRem(25) 0px 0px;
        &::before {
            font-size: toRem(24);
            margin: 0px toEm(10, 24) 0px 0px;
        }
    }
    // .actions-header__phones
    &__phones {
    }
    // .actions-header__favorite
    &__favorite {
    }
    // .actions-header__cart
    &__cart {
    }
}

.phones-header { 
    // .phones-header__items
 &__items {
 }
 // .phones-header__item
 &__item {
    position: relative;
    display: flex;
 }
 // .phones-header__phone
 &__phone {
    font-weight: 600;
    white-space: nowrap;
    line-height: math.div(22, 18);
 }
 // .phones-header__arrow
 &__arrow {
    color: #E8AA31;
    font-size: toRem(16);
    margin: 0px 0px 0px toEm(17, 16);
 }
 // .phones-header__list
 &__list{
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    border-radius: toRem(10);
    background-color: #fff;
    padding: toRem(15);
    li {
        &:not(:last-child) {
            margin-bottom: toEm(8, 18);
        }
    }
 }
 // .phones-header__callback
 &__callback {
 }
}
.cart-header {
  // .cart-header__icon
  &__icon {
  }
  // .cart-heard__body
  &__body {
  }
  // .cart-header__summ
  &__summ {
  }
  // .cart-header__link
  &__link {
  }
}
//====================================================================================================

//Burger 
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		flex: 0 0 30px;
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
