.main-block {
	
	background: url("@img/mainpage/main-block/bg.jpg") center / cover no-repeat;
	@include adaptiveValue("padding-top", 40, 20);
	@include adaptiveValue("padding-bottom", 60, 20);
	// .main-block__container
	&__container {
	}
	// .main-block__body
	&__body {
		display: grid;
		align-items: start;
		grid-template-columns: 1fr percent(635, 1600);
	}
	// .main-block__slider
	&__slider {
		
		margin: 0px toRem(-30);
        padding: 0px toRem(30);
	}
	// .main-block__swiper
    &__wrapper {
		
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
	}
	// .main-block__media
	&__media {
	}
	// .main-block__advantages
	&__advantages {
	}
	// .main-block__controll 
	&__controll {
 }
}
.controll-main-block { 
	display: flex;
	align-items: center;
	gap: toRem(20);
 // .controll-main-block__dotts 
 &__dotts {
   display: flex;
   gap: toRem(15);
   .swiper-pagination-bullet {
	height: 2px;
	flex: 0 0 15px;
	background-color: #fff;
   }
 } 
 // .controll-main-block__fraction 
 &__fraction {
 }
}
.fraction-controll {
// .fraction-controll__current
&__current {
}
// .fraction-controll__all
&__all {
}
}

.slide-main-block {
 // .slide-main-block__content
 &__content {
	color: #fff;
	padding: 0px toRem(40) 0px 0px;
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 60, 30);
	}
 } 
 // .slide-main-block__title 
 &__title {
	font-weight: 700;
	letter-spacing: toEm(0.03);
	font-size: toRem(36);
	line-height: math.div(46, 36);
	&:not(:last-child) {
		margin-bottom: toEm(15, 36);
	}
 } 
 // .slide-main-block__sub-title 
 &__sub-title {
	font-size: toRem(36);
	line-height: math.div(46, 36);
	&:not(:last-child) {
		margin-bottom: toEm(30, 36);
	}
 } 
 // .slide-main-block__text 
 &__text {
	color: rgba(255, 255, 255, 0.7);
	font-size: toRem(20);
	line-height: math.div(30, 20);
 } 
 // .slide-main-block__button 
 &__button {
 }
}
.media-main-block {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: toRem(15);
	// .media-main-block__body
  &__body {
    position: relative;
  }
 // .media-main-block__image
  &__image {
 	&::before{
 		content:'';
 		width: 423px;
 		height: 423px;
 		border: 2px solid rgba(255, 255, 255, 0.5);
 		border-radius: 50%;
 		position: absolute;
 		bottom: 3.5%;
 		right: 0;
 		transform: translate(percent(131, 423), 0px);
 	}
 	img {
 		position: relative;
 		z-index: 2;
 	}
  }
    // .media-main-block__tips
    &__tips {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 5;
    }
    // .media-main-block__tip
    &__tip {
		width: toRem(20);
		height: toRem(20);
		position: absolute;
		cursor: pointer;
		transition: transform 0.3s ease 0s;
		@media (any-hover: hover){
			&:hover{
				transform: rotate(-180deg);
			}
		}
		&::before,
		&::after{
			content:'';
			border-radius: 50%;
			background-color: $mainOrange;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
		&::after{
			opacity: 0.5;
			transform: scale(1.6);
		}
		span {
			position: relative;
			z-index: 2;
			color: #fff;
			font-weight: 600;
			font-size: toRem(20);
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	  // .media-main-block__tip_1
	  &_1 {
		top: percent(186, 500);
		left: percent(72, 447);
	  }
	  // .media-main-block__tip_2
	  &_2 {
		top: percent(57, 500);
		right: percent(13, 447);
	  }
	  // .media-main-block__tip_3
	  &_3 {
		bottom: percent(115, 500);
		right: percent(28, 447);
	  }
    }
}
.advantages-main {

	// .advantages-main__item

	&__item {
	}

	// .advantages-main__icon

	&__icon {
	}

	// .advantages-main__text

	&__text {
	}
}
